// -----------------------------------------------------------------------------
// This file contains all application-wide SASS variables.
// -----------------------------------------------------------------------------

// Colours (use semantic colours in selectors)
$white: #fff;
$black: #333;
$grey: #e3e3e3;
$light-grey: #666;
$dark-grey:#464343;
$red: #fdd7d7;
$bright-red:#f50909;
$blue: #94bbdf;
$ink-blue: #00539f;
$light-blue: #008dc8;
$offwhite-blue:#eaf6fa;
$focus-blue: #008dc8;
$offwhite-grey: #f6f6f6;
$border-grey:#e6e4e4;




